<h3>考え方2</h3>
<div class="row">
  <div class="col-xs-6">
    <pre id="editor" style="height: 600px"><%=@ans1%></pre>
  </div>
  <div class="col-xs-6">
    <div class="tab">
      <ul id="tab_head">
        <li class="on">動画</li>
        <li>解説</li>
      </ul>
      <ul id="tab_body">
        <li class="on">
          <div class = "wrapper">
            <div class="arr">
              <p class="arr_elm" id = "ten" >10</p>
              <p class="arr_elm" id = "five">5</p>
              <p class="arr_elm" id = "four">4</p>
              <p class="arr_elm" id = "three">3</p>
              <p class="arr_elm" id = "two">2</p>
              <p class="arr_elm" id = "circumference">0 circumference</p>
            </div>
            <div class="code" style="height: 300px">
              <p id="line_1">len = [2,3,4,5,10]</p>
              <p id="line_2">circumference = 0</p>
              <p id="line_3">element = len.sort {|a, b| b.to_i <=> a.to_i }</p>
              <p id="line_4">for i in 0..element.length-2 do</p>
              <p id="line_5"> &nbsp;&nbsp;&nbsp;&nbsp; if element[i].to_i < element[i+1].to_i + element[i+2].to_i</p>
              <p id="line_6"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  circumference = element[i] + element[i+1] + element[i+2]</p>
              <p id="line_7"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; break  </p>
              <p id="line_8"> &nbsp;&nbsp;&nbsp;&nbsp;end</p>
              <p id="line_9">end</p>
              <p id="line_10">puts circumference</p>
            </div>
          </div>
        </li>
        <li>
          <pre><%=@Commentary1%></pre>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="flowchart">
  <p><%= image_tag 'task1ans2_pg.png' %></p>
  <p><%= image_tag 'task1ans2_jp.png' %></p>
</div>


<script>
task1ans2movie()
</script>
