<h2 id="-">プログラムを読む</h2>
<h3>考え方1</h3>
<div class="row">
  <div class="col-xs-6">
    <pre class="code" id="editor" style="height: 600px"><%=@ans0%></pre>
  </div>
  <div class="col-xs-6">
    <div class="tab">
      <ul id="tab_head">
        <li>動画</li>
        <li class="on">解説</li>
      </ul>
      <ul id="tab_body">
        <li>
          <div class="arr">
            <p class="arr_elm" id = "two">2</p>
            <p class="arr_elm" id = "three">3</p>
            <p class="arr_elm" id = "four">4</p>
            <p class="arr_elm" id = "five">5</p>
            <p class="arr_elm" id = "ten" >10</p>
          </div>
          <div class="blockvariable">
            <p class="vari" id="circumference">0 circumference</p>
            <p class="vari" id="sum">sum</p>
            <p class="vari" id="max">max</p>
            <p class="vari" id="rest">rest</p>
            <p class="vari" id="maxrest">max<rest</p>
            <p class="vari" id = "i">i</p>
            <p class="vari" id = "j">j</p>
            <p class="vari" id = "k">k</p>
          </div>
        </li>
        <li class="on">
          <p><%= link_to "プログラムの読み方", way_of_thinking_path %></p>
          <%= @Commentary0.html_safe %>
        </li>
      </ul>
      <div class ="link"></div>
    </div>
  </div>
</div>
<script>
task1ans1movie()
aceeditor()
aceeditorscroll()
</script>
