<h2>課題  下記の条件を満たすプログラムを作成してください．</h2>
<div class="row">
  <div class="col-xs-6">
    <iframe src="https://paiza.io/projects/e/bXfK0Wahu91rNaTUDxHHsA?theme=twilight" width="100%" height="700" scrolling="no" seamless="seamless"></iframe>
  </div>
  <div class="col-xs-6">
    <pre>
      1から100までの数を出力するプログラムを作成してください．
      その際,3の倍数にはFizz，5の倍数にはBuzz，15の倍数の際はFizzBuzzと付け加わえて出力してください
    </pre>
  </div>
</div>
