<h1>ruby入門</h1>
<div class="row">
  <div class="col-xs-6">
    <iframe src="https://paiza.io/projects/e/bXfK0Wahu91rNaTUDxHHsA?theme=twilight" width="100%" height="700" scrolling="no" seamless="seamless"></iframe>
  </div>
  <div class="col-xs-6">
<h2>基礎文法</h2>

<h3>変数</h3>
<p>rubyは動的型付け言語</p>

<h3>キャスト</h3>
<pre>
文字列　to_s
数字 to_i
配列　to_a
</pre>
<h3>配列</h3>
<pre>
空の配列
arr = Array.new

中身ありの配列
arr = [1,2,3,4,]
arr2 = ["hoge","fuga"]
</pre>


<h3>if文</h3>
<pre>
a=10
if a<10　do
  puts a
end


上記は変数aが10以上の時，aの値を出力するプログラム．
</pre>
<h3>for文</h3>
<pre>
for i in 0..10 do
    puts i
end

上記のプログラムは0から10までを改行付きで出力するプログラム
ブロック変数はインクリメントのみ
</pre>

<h3>出力</h3>
<pre>
改行　puts
改行なしprint　

文字列の出力
puts "hoge"

数値の出力
puts 1


文字列と変数aの出力
puts "変数aの値は#{a}です"
</pre>
</div>

</div>
<script>
aceeditorscroll()
</script>
