<h1>ようこそprogalgoへ！</h1>

<h2>1.rubyの基礎文法を学びましょう！</h2>
<p><%= link_to "task1", ruby_gatebook_path %></p>

<h2>2.実際にプログラムを書いてみましょう！</h2>
<h3>グループA</h3>
<p><%= link_to "task1", task_task1ans_path %></p>

<h3>グループB</h3>
<p><%= link_to "task2", task_task_path %></p>
