<h1>プログラムの読み方</h1>
<h2>プログラムの作り方を知る．</h2>

- 作成物を具体的にイメージする
##プログラム作成の考え方
分割していくこと．

- プログラムの大枠に分割
- 入力処理：
本処理：
出力処理:


- まず大きな粒感で処理ごとに分解する
- その粒度を細くしていく
	- 条件分岐は何か？
	- 繰り返す処理は何か？


##
- 小さなケースで考えて見る
- 管理表や管理フラグを立てる
<h2>粒度の細かい部分の読み方</h2>
<h3>前提として</h3>
プログラムは，順次処理，条件分岐，繰り返しの3つで成り立っている．

<h3>for文の読み方</h3>
for文のブロック変数の役割を読む
繰り返されている処理は何かを読む

<h3>if文の読み方</h3>
条件とされている式を読む
