<h2>課題　オオカミ，ヤギ，キャベツを川の向こう岸に運びましょう</h2>
<div class="row">
  <div class="col-xs-6">
    <pre><%=@task%></pre>
  </div>
  <div class="col-xs-6">
    <p>川の向こう側</p>
    <div id="dropbox" ondragover="f_dragover(event)" ondrop="f_drop(event)"></div>

    <p>こちらがわ</p>
    <div id="character" ondragover="f_dragover(event)" ondrop="f_drop(event)">
    <img src="/assets/animal_ookami.png"　width="100" height="100" id="apple" alt="オオカミ" draggable="true" ondragstart="f_dragstart(event)">
    <img src="/assets/animal_yagi.png" width="100" height="100" id="orange" alt="ヤギ" draggable="true" ondragstart="f_dragstart(event)">
    <img src="/assets/0025.png" width="100" height="100" id="grape" alt="キャベツ" draggable="true" ondragstart="f_dragstart(event)">
    </div>
  </div>
</div>
  <%=@commentary.html_safe%>
