/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/


/* 共通レイアウト */
body {
  padding-top: 60px;
  color: #364a4d;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #1f89e2;
}

a:hover {
  text-decoration: underline;
  color: #1b7ccd;
}
h3 {
  font-size: 20px;
  border-left: 5px solid;
}
.main-contents{
  z-index:0;
}
/* ヘッダー */
.navbar {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  margin-bottom: 20px;
  z-index: 1;
}

#logo {
  float: left;
  font-size: 27px;
  color: #fff;
  padding-top: 12px;
  letter-spacing: -1px;
  font-weight: bold;
}

.header-right {
  float: right;
  margin: 0 auto;
}

.header-right a {
  color: white;
  display: block;
  text-decoration: none;
}

.header-right li {
  line-height: 65px;
  padding: 0 18px;
  float: left;
  color: white;
}

label.error{
  background-color: red;
  color: white;
}


.link{
  width: 200px;
  height: 70px;
  background-color: blue;
  margin: 20px 0 0;
  display: none;
  text-align: center;
  vertical-align: middle;
  padding-top: 25px;
}
.showlink{
  color: white;
}
.onn{
  display: block;
}

/*配列動画よう*/

.arr{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
}
.arr_elm{
  list-style-type: none;
  margin: 10px;
  background: #ddd;
  width:50px;
  height: 50px;
  text-align: center;
}
.wrapper{
  width: 1200px;
  display: flex;
  position: relative;
}
.selected{
  background-color: #87CEEB;
}
#circumference{
  width:130px;
}
#ten{
  height: 500px;
}
#five{
  height:250px;
}
#four{height: 200px;}
#three{height: 150px;}
#two{height:100px;}
.code{
  /*float: right;*/
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
  font-size: 14px;
  line-height: 1.2;
  background-color: #778899;
  color: #fff;
  padding: 0 20px 20px;
  /* margin: 0 30px 0;*/
  position: absolute;
  right: 0;
  bottom: 16px;
}
